@import "./variables";
.hero_btn{
  display: grid;
  place-content: center;
  margin: 0px 65px;
  border-radius: 28px;
  border: 1px solid purple;
  transition: all 300ms;
  font-size: large;
  font-family: $font-headings;
  font-weight: 400;
  width: 200px;
  height: 56px;
  &:hover{
    background-color: rgb(187, 0, 187);
  }
}
