@import './variables';

.Home_section_content{

}

.Home_section_title{
  
}





//animations
@keyframes load{
  0% {width:0%}
  20%{width: 15%}
  100%{widht: inherit}

}

.ani-load{
  animation-name: load;
  animation-duration: 1s;
  animation-iteration-count: 1;
}