//fonts
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
$font-headings:"public sans", sans-serif; 
$font-text:"DM serif Display", serif;
//variables
$border-radius: 9px;
$border-radius-lg: 16px;

//colors
$background-color: #141516;
$hover-color: blue;

//cause card color
$cause-card-border-radius: 9px;
$cause-card-background-color: white;
$cause-card-border-color: gray;
$cause-card-border-width: 2px;